
<p class="lead">Uno stile diverso! Prova a ridurre la grandezza della tua finestra.</p>

<div clas="row" style="margin: 100px 10px">
  <div class="col-sm-4" style="background-color: white">
    <p class="lead text-center">Tre colonne</p>
  </div>

  <div class="col-sm-4" style="background-color: lightblue">
    <p class="lead text-center">Tre colonne</p>
  </div>

  <div class="col-sm-4" style="background-color: purple">
    <p class="lead text-center" style="color: white">Tre colonne</p>
  </div>
</div>

<p class="lead" style="margin-top: 200px">Clicca <a href="./#/">qui</a> per tornare indietro!</p>
