<div class="container-fluid bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <p class="underfooter">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
      </div>
      <div col="col-xs-3">
        <p class="underfooter">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
      </div>
    </div>

  </div>
</div>
