<div class="container-fluid footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-4">
        <p class="footer-title">Footer column 1</p>
        <p class="footer-element">Voce 1</p>
        <p class="footer-element">Voce 2</p>
        <p class="footer-element">Voce 3</p>
        <p class="footer-element">Voce 4</p>
        <p class="footer-element">Voce 5</p>

      </div>
      <div class="col-sm-4">
        <p class="footer-title">Footer column 2</p>
        <p class="footer-element">Voce 1</p>
        <p class="footer-element">Voce 2</p>
        <p class="footer-element">Voce 3</p>
        <p class="footer-element">Voce 4</p>
        <p class="footer-element">Voce 5</p>

      </div>
      <div class="col-sm-4">
        <p class="footer-title">Footer column 3</p>
        <p class="footer-element">Voce 1</p>
        <p class="footer-element">Voce 2</p>
        <p class="footer-element">Voce 3</p>
        <p class="footer-element">Voce 4</p>
        <p class="footer-element">Voce 5</p>

      </div>
    </div>

  </div>
</div>

<div class="container-fluid bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <p class="underfooter">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
      </div>
      <div col="col-xs-3">
        <p class="underfooter">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
      </div>
    </div>

  </div>
</div>
