<div class="row footer text-center">
  <div class="col-sm-4">
    <p class="footer-title">Footer column 1</p>
    <p class="footer-element">Voce 1</p>
    <p class="footer-element">Voce 2</p>
    <p class="footer-element">Voce 3</p>
    <p class="footer-element">Voce 4</p>
    <p class="footer-element">Voce 5</p>

  </div>
  <div class="col-sm-4">
    <p class="footer-title">Footer column 2</p>
    <p class="footer-element">Voce 1</p>
    <p class="footer-element">Voce 2</p>
    <p class="footer-element">Voce 3</p>
    <p class="footer-element">Voce 4</p>
    <p class="footer-element">Voce 5</p>

  </div>
  <div class="col-sm-4">
    <p class="footer-title">Footer column 3</p>
    <p class="footer-element">Voce 1</p>
    <p class="footer-element">Voce 2</p>
    <p class="footer-element">Voce 3</p>
    <p class="footer-element">Voce 4</p>
    <p class="footer-element">Voce 5</p>

  </div>
</div>
