<div class="container-fluid header">
  <div class="container">
    <div class="row top-links">
      <div class="col-xs-3 pull-right">
        <div class="search">
          &nbsp;&nbsp;&nbsp;
          <input type="text" placeholder="Cerca nel sito" class="searchinput">
          &nbsp;
          <img src="images/assets/search-icon.png">
        </div>
      </div>
      <div ng-controller="ModalDemoCtrl" class="col-xs-3 pull-right text-right top-link login">
        <a href="#/panel/">{{firstname}} {{lastname}}</a>
        <a href="#" ng-style="{{display}}" ng-click="open()">Login</a>&nbsp;&nbsp;<img ng-style="{{dim_avatar}}" ng-src="{{img_src}}"> &nbsp;<i class="fa fa-caret-down" ng-style="{{logged}}"></i>
      </div>
    </div>
    <img class="img-responsive header-img" src="images/assets/logo-header.png">

    <div class="row header-links text-center">
      <div class="col-sm-4">
        <a ng-href="./#/section/{{ menu1 }}/">
          <img class="img-responsive header-icon" src="images/assets/comune-icon.png">
        </a>
        <p class="header-link-title"><a ng-href="./#/section/{{ menu1 }}/">Il Comune<br>informa</a></p>

        <p class="header-link-description">
          <span ng-repeat="item in menu_comune_informa">
            <a ng-href="./#/{{ item.url }}">{{ item.title }}</a>{{ $last ? '' : '&nbsp;&nbsp;|&nbsp;&nbsp;' }}
          </span>
        </p>
      </div>
      <div class="col-sm-4">
        <a ng-href="./#/section/{{ menu2 }}/">
          <img class="img-responsive header-icon" src="images/assets/cultura-icon.png">
        </a>
        <p class="header-link-title"><a ng-href="./#/section/{{ menu2 }}/">Cultura<br>e turismo</a></p>
        <p class="header-link-description">
          <span ng-repeat="item in cultura_turismo">
            <a ng-href="./#/{{ item.url }}">{{ item.title }}</a>{{ $last ? '' : '&nbsp;&nbsp;|&nbsp;&nbsp;' }}
          </span>
        </p>
      </div>
      <div class="col-sm-4">
        <a ng-href="./#/section/{{ menu3 }}/">
          <img class="img-responsive header-icon" src="images/assets/servizi-icon.png">
        </a>
        <p class="header-link-title"><a ng-href="./#/section/{{ menu3 }}/">Servizi<br>online</a></p>
        <p class="header-link-description">
          <span ng-repeat="item in servizi_online">
            <a ng-href="./#/{{ item.url }}">{{ item.title }}</a>{{ $last ? '' : '&nbsp;&nbsp;|&nbsp;&nbsp;' }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container news">
  <div class="row">
    <div class="col-xs-8">
      <p class="news-main-title">News e Comunicati Stampa</p>

      <div ng-repeat="post in posts">
        <p class="post-title">
          <a ng-href="#/section/25/post/{{ post.ID }}" ng-bind-html="post.title"></a>
        </p>
        <p class="post-date">
          <img class="calendar" src="images/assets/calendar-icon.png"> Pubblicato il {{ post.date | date : "shortDate" }}
        </p>

        <div class="post-content" ng-bind-html="post.content"></div>
        <br>
        <br>
      </div>

      <div class="showAll text-center"><a href="#/home">Mostra tutti</a></div>

    </div>
    <div class="col-xs-4">
      <p class="news-main-title">In evidenza</p>

      <a class="featured-img-link" href="./#/section/26/page/69">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive featured-img" src="images/assets/side-1.jpg" alt="Etna">
              <div class="carousel-caption featured-img-text">
                Etna
              </div>
            </div>
          </div>
        </div>
      </a>
      <br>

      <a class="featured-img-link" href="./#/section/26/post/22">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive featured-img" src="images/assets/side-2.jpg" alt="La festa di Sant'Agata">
              <div class="carousel-caption featured-img-text">
                La festa di<br>Sant'Agata
              </div>
            </div>
          </div>
        </div>
      </a>
      <br>

      <a class="featured-img-link" href="./#/section/25/page/98">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive featured-img" src="images/assets/side-3.jpg" alt="Trasporti pubblici">
              <div class="carousel-caption featured-img-text">
                Trasporti<br>pubblici
              </div>
            </div>
          </div>
        </div>
      </a>
      <br>
    </div>
  </div>

</div>


<div ui-view="footer"></div>
