<div class="contracts">
  <br>
  <h2 class="panel-title">TEST</h2>

  <br>
  
  <div class="panel-admin">
   <!--<form action="oauth/client.php?action=p&path=api/public/acquedotto" method="post" enctype="multipart/form-data">-->
   <form action="" method="post" enctype="multipart/form-data">
	  
	  <h4>TEST input</h4>
	  <input name="test" placeholder="test" type ="text" >
	  
	  <h4>TEST input</h4>
	  <input name="test" placeholder="test" type ="text" >
	  <br><br>
      
	  
      <input type="submit" value="Inserisci" class="uppercase">
    </form>
  </div>

  <br><br>
  <br><br>
  <div class="footer-panel">
    <p class="pull-left">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
    <p class="pull-right">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
    <br>
    <br>
  </div>
</div>


