<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <div class="bg-panel-lateral">
        <h1><a href="#/home">{{name}}</a></h1>
        <br>
        <h5 class="text-center uppercase">Servizi Online</h5>
        <h4 class="contracts-type uppercase" ng-repeat="panels in panel_menu.items"><a href="#/panel/"><img src="images/assets/{{panels.img}}"> {{panels.title}}</a></h4>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="bg-panel">
        <div class="top-bar">
          <a href="#/home" class="pull-left uppercase">
            <i class="fa fa-angle-left fa-13"></i> &nbsp; <span>Torna alla Home</span>
          </a>
          <div class="search pull-right">
            &nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Cerca nel sito" class="searchinput">
            &nbsp;
            <img src="images/assets/search-icon.png">
          </div>

          <div ng-controller="ModalDemoCtrl" class="pull-right text-right">
            <div class="btn-group" dropdown>
              <a href="#/panel/">{{firstname}} {{lastname}}</a>
              <a href="#" ng-style="{{display}}" ng-click="open()">Login</a>&nbsp;&nbsp;<img ng-style="{{dim_avatar}}" ng-src="{{img_src}}">
              <a href="#" dropdown-toggle>&nbsp;<i class="fa fa-caret-down" ng-style="{{logged}}"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="logout">Esci</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div ui-view>
          <div class="contracts">
            <br>
            <h2 class="panel-title">I tuoi contratti</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <h3 class="post-title">seleziona un contratto</h3>
            <br>
            <table class="contracts-data table table-striped">
              <thead>
                <tr>
                  <td><h4>Indirizzo di ubicazione</h4></td>
                  <td><h4>Categoria utilizzo</h4></td>
                  <td><h4>Matricola contatore</h4></td>
                  <td><h4>Data inizio contratto</h4></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contract in contracts_.contracts" OnClick="this.getElementsByTagName('input')[0].click();" ng-click="getid(contract.id)">
                  <td><input type="radio" name="contract" id="{{contract.id}}"><img src="images/assets/checkbox.png"><img src="images/assets/checkbox_checked.png"> &nbsp; {{contract.indirizzo}}</td>
                  <td>{{contract.categoria}}</td>
                  <td>{{contract.matricola}}</td>
                  <td>{{contract.data}}</td>
                </tr>
              </tbody>
            </table>
            <a ng-href="#/panel/{{id_}}"><button class="uppercase">Avanti</button></a>
            <br><br>
            <div class="footer-panel">
              <p class="pull-left">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
              <p class="pull-right">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
