<div class="contracts">
  <br>
  <h2 class="panel-title">Inserisci nuova lettura</h2>

  <br>
  
  <div class="panel-admin">
   <!--<form action="oauth/client.php?action=p&path=api/public/acquedotto" method="post" enctype="multipart/form-data">-->
   <form action="/api/public/acquedotto" method="post" enctype="multipart/form-data">
      <h4 ng-show="permission">Seleziona utente</h4>
      <div ng-show="permission">
        <input type="text" class="search-user" placeholder="Cerca Utente" list="utenti" autocomplete="off">
        <datalist id="utenti">
          <option ng-repeat="user in users" value="{{user.first_name}}">
        </datalist>
        <i class="fa fa-search"></i>
      </div>
	  
	  <h4>Identificativo Dichiarazione</h4>
	  <input name="idtacqua_dichiarazione" placeholder="ID Dichiarazione" type ="text" >
	  
	  
	  
      <h4>Data lettura</h4>
      <input name="data_lettura" type="text" placeholder="gg-mm-aaaa">

      <h4>Lettura</h4>
      <input name="lettura" type="text" placeholder="Lettura">

      <h4>Consumo</h4>
      <input name="consumo" type="text" placeholder="0001234556789">
	  
	  <h4>Note</h4>
      <input name="note" type="text" placeholder="...">
	  
	  <h4>Foto</h4>
	  <input name="photo_file" type="file" id="photo_file">
      <br><br>
	  
      <input type="submit" value="Inserisci" class="uppercase">
    </form>
  </div>

  <br><br>
  <br><br>
  <div class="footer-panel">
    <p class="pull-left">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
    <p class="pull-right">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
    <br>
    <br>
  </div>
</div>


