<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <div class="bg-panel-lateral">
        <h1><a href="#/home">{{name}}</a></h1>
        <br>
        <h5 class="text-center uppercase">Servizi Online</h5>
        <div ng-repeat="menu in menus track by $index" ng-class="admin[$index]">
          <h4 class="contracts-type uppercase" ng-click="show_sub($index)" style="cursor: pointer;">
            <a><img ng-src="images/assets/{{ menu.attr }}"> &nbsp;&nbsp; {{ menu.title }}</a>
          </h4>
          <div ng-show="shows[$index]">
            <h4 ng-repeat="submenu in menu.submenus" class="contracts-type"><a href="#/panel/{{ submenu.url }}/">{{ submenu.title }}</a></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="bg-panel">
        <div class="top-bar">
          <a href="#/home" class="pull-left uppercase">
            <i class="fa fa-angle-left fa-13"></i> &nbsp; <span>Torna alla Home</span>
          </a>
          <div class="search pull-right">
            &nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Cerca nel sito" class="searchinput">
            &nbsp;
            <img src="images/assets/search-icon.png">
          </div>

          <div ng-controller="ModalDemoCtrl" class="pull-right text-right">
            <div class="btn-group" dropdown>
              <a href="#/panel/">{{userdata.firstname}} {{userdata.lastname}}</a>
              &nbsp;&nbsp;<img ng-style="{{userdata.dim_avatar}}" ng-src="{{userdata.img_src}}">
              <a href="#" dropdown-toggle>&nbsp;<i class="fa fa-caret-down" ng-style="{{userdata.logged}}"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="logout" ng-click="logout('panel')">Esci</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div ui-view>
          <div class="contracts">
            <br>
            <h2 class="panel-title">Pannello</h2>
            <br>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
            <h3 class="post-title">Lorem Ipsum</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
