<div class="contracts">
  <br>
  <h2 class="panel-title">Inserisci nuova lettura</h2>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

  <div class="panel-admin">
    <form action="oauth/client.php?action=p&path=api/letture/insert" method="post">
      <h4 ng-show="permission">Seleziona utente</h4>
      <div ng-show="permission">
        <input type="text" class="search-user" placeholder="Cerca Utente" list="utenti" autocomplete="off">
        <datalist id="utenti">
          <option ng-repeat="user in users" value="{{user.first_name}}">
        </datalist>
        <i class="fa fa-search"></i>
      </div>

      <h4>Data lettura</h4>
      <input name="data" type="text" placeholder="gg/mm/aa">

      <h4>Lettura</h4>
      <input name="lettura" type="text" placeholder="Lettura">

      <h4>Consumo</h4>
      <input name="consumo" type="text" placeholder="0001234556789">

      <br><br>

      <input type="submit" value="Inserisci" class="uppercase">
    </form>
  </div>

  <br><br>
  <br><br>
  <div class="footer-panel">
    <p class="pull-left">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
    <p class="pull-right">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
    <br>
    <br>
  </div>
</div>

