<div class="contracts">
  <br>
  <h2 class="panel-title">Affissioni</h2>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  <h3 class="post-title">seleziona una riga</h3>
  <br>
  <table class="contracts-data table table-striped text-center">
    <thead>
      <tr>
        <td><h4>#</h4></td>
        <td><h4>ID Affissione</h4></td>
        <td><h4>Numero Dichiarazione</h4></td>
        <td><h4>Data Dichiarazione</h4></td>
        <td><h4>Descrizione</h4></td>
        <td><h4>Numero Dichiarazione</h4></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aff in affissioni" OnClick="this.getElementsByTagName('input')[0].click();" ng-click="getid(aff.idtaffissione_dichiarazione)">
        <td><input type="radio" name="contract" id="{{contract.id}}"><img src="images/assets/checkbox.png" ng-style="{{radio}}"><img src="images/assets/checkbox_checked.png" ng-style="{{radio}}"></td>
        <td>{{ aff.idtaffissione_dichiarazione }}</td>
        <td>{{ aff.numero_dichiarazione }}</td>
        <td>{{ aff.data_dichiarazione }}</td>
        <td>{{ aff.descrizione }}</td>
        <td>{{ aff.numero_dichiarazione }}</td>
      </tr>
    </tbody>
  </table>
  <a ng-href="#/panel/affissioni/{{ id_ }}"><button class="uppercase">Avanti</button></a>
  <br><br>
  <div class="footer-panel">
    <p class="pull-left">Copyright 2014-2015 Comune di Catania - Tutti i diritti riservati.</p>
    <p class="pull-right">Segui il Comune di Catania su &nbsp;&nbsp;<i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-youtube-play"></i></p>
  </div>
</div>
