<div class="container-fluid sec-header">
  <div class="container">
    <div class="row top-links">
      <div class="col-xs-6">
        <a href="#/home"><img src="images/assets/sec-logo.png" class="sec-logo"></a>
      </div>
      <div class="col-xs-3 pull-right">
        <div class="search">
          &nbsp;&nbsp;&nbsp;
          <input type="text" placeholder="Cerca nel sito" class="searchinput">
          &nbsp;
          <img src="images/assets/search-icon.png">
        </div>
      </div>

      <div ng-controller="ModalDemoCtrl" class="col-xs-3 pull-right text-right top-link login">
        <div class="btn-group" dropdown>
          <a href="#/panel/">{{userdata.firstname}} {{userdata.lastname}}</a>
          <a href="#" ng-style="{{userdata.display}}" ng-click="open()">Login</a>&nbsp;&nbsp;<img ng-style="{{userdata.dim_avatar}}" ng-src="{{userdata.img_src}}">
          <a href="#" dropdown-toggle>&nbsp;<i class="fa fa-caret-down" ng-style="{{userdata.logged}}"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="logout" ng-click="logout()">Esci</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid sec-header-menu">
  <div class="container">
    <a ng-href="./#/section/{{ menus[0].ID }}/{{ menus[0].object }}/{{ menus[0].object_id }}">
      <div id="{{ menus[0].ID }}" class="col-xs-3 sec-header-submenu" ng-class="{ active: selectedMenu == menus[0].ID }">
        <div class="comune"></div>
        &nbsp;&nbsp;<h6 class="inline">{{menus[0].title}}</h6>
      </div>
    </a>
    <a ng-href="./#/section/{{ menus[1].ID }}/{{ menus[1].object }}/{{ menus[1].object_id }}">
      <div id="{{ menus[1].ID }}" class="col-xs-3 sec-header-submenu" ng-class="{ active: selectedMenu == menus[1].ID }">
        <div class="cultura"></div>
        &nbsp;&nbsp;<h6 class="inline">{{menus[1].title}}</h6>
      </div>
    </a>
    <a ng-href="./#/section/{{ menus[2].ID }}/{{ menus[2].object }}/{{ menus[2].object_id }}">
      <div id="{{ menus[2].ID }}" class="col-xs-3 sec-header-submenu" ng-class="{ active: selectedMenu == menus[2].ID }">
        <div class="servizi"></div>
        &nbsp;&nbsp;<h6 class="inline">{{menus[2].title}}</h6>
      </div>
    </a>
  </div>
</div>

<div class="container-fluid bgheader"></div>

<div class="container-fluid path">
  <div class="container">
    <span class="breadcrumb">
      <i class="fa fa-home fa-13"></i> <i class="fa fa-angle-double-right fa-13"></i> <span ng-bind-html="selectedMenuName"></span> <i class="fa fa-angle-double-right fa-13"></i> <span class="selectedItem" ng-bind-html="selectedItem"></span>
    </span>
  </div>
</div>

<div class="container">
  <div class="row" id="section">
    <div class="col-xs-3">
      <div class="side-menu">
        <ul ng-bind-html="side_menu">
        </ul>
      </div>
    </div>
    <div class="col-xs-9">
      <div ui-view></div>
    </div>
  </div>
</div>

<div ui-view="footer"></div>
