<!-- Comune di Catania -->
<div class="container-fluid sec-header">
  <div class="container">
    <div class="row top-links">
      <div class="col-xs-7">
        <h1 class="inline">Comune di Catania</h1>
      </div>
      <div class="col-xs-3 pull-right">
        <div class="search">
          &nbsp;&nbsp;&nbsp;
          <input type="text" placeholder="Cerca nel sito" class="searchinput">
          &nbsp;
          <img src="images/assets/search-icon.png">
        </div>
      </div>
      <div class="col-xs-2 pull-right text-right top-link login">
        <a href="#">Login</a>&nbsp;&nbsp;<img src="images/assets/login-icon.png">
      </div>
    </div>
  </div>
</div>

<!-- Il comune informa, cultura e turismo, etc... -->
<div class="container-fluid sec-header-menu">
  <div class="container">
    <div class="col-xs-3 sec-header-submenu">
      <div class="comune"></div>
      &nbsp;&nbsp;<h6 class="inline">Il Comune Informa</h6>
    </div>
    <div class="col-xs-3 sec-header-submenu">
      <div class="cultura"></div>
      &nbsp;&nbsp;<h6 class="inline">Cultura e Turismo</h6>
    </div>
    <div class="col-xs-3 sec-header-submenu">
      <div class="servizi"></div>
      &nbsp;&nbsp;<h6 class="inline">Servizi Online</h6>
    </div>
  </div>
</div>

<!-- img -->

<!-- Il comune informa >> organi di governo >> consiglio comunale -->
<div class="container-fluid">
  <div class="container">

  </div>
</div>

<!-- Contenuto principale -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <!-- menu laterale -->
    </div>
    <div class="col-xs-9">
      <!-- contenuti -->
      <div ui-view></div>
    </div>
  </div>
</div>

<!-- Footer -->
<div ui-view="footer"></div>

<!-- UnderFooter -->
