<!-- Comune di Catania -->
<div class="container-fluid">
  <div class="container">

  </div>
</div>

<!-- Il comune informa, cultura e turismo, etc... -->
<div class="container-fluid">
  <div class="container">

  </div>
</div>

<!-- img -->

<!-- Il comune informa >> organi di governo >> consiglio comunale -->
<div class="container-fluid">
  <div class="container">

  </div>
</div>

<!-- Contenuto principale -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <!-- menu laterale -->
    </div>
    <div class="col-xs-9">
      <!-- contenuti -->
      <div ui-view></div>
    </div>
  </div>
</div>

<!-- Footer -->
<div ui-view="footer"></div>

<!-- UnderFooter -->
