.container {
  margin-top: 2px;
}

.header {
  background-image: url('../images/assets/herader-bg.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  width: 100%;
  min-height: 100vh;

  padding: 20px;
}

.header-img {
  margin: auto;
}

@media (max-width: 1450px) {
  .header-img {
    max-width: 18%;
  }
}

.header-links {
  margin-top: 90px;
}

.header-link-title,
.header-link-title a {
  color: white;
  font-family: ProximaNova-Bold;
  font-size: 30px;
  line-height: 35px;
  text-decoration: none;

  padding-top: 10px;
  padding-bottom: 4px;
}

.header-link-description,
.header-link-description a {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  line-height: 26px;
  color: #c7c7c7;
  text-transform: uppercase;
}

.header-link-description span a:hover {
  color: #fff;
  text-decoration: none;
}

.header-icon {
  margin: auto;
  max-width: 60%;
}

.news {
  min-height: 100vh;

  padding-top: 20px;
}

.news > .row > div {
  height: 100%;
}

.news-main-title {
  font-family: ProximaNova-Bold;
  font-size: 30px;
  color: #005c81;
  margin-top: 35px;
}

.featured-img-link {
  display: block;
}

.featured-img-link:hover .featured-img,
.featured-img-link:hover .featured-img-text {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.featured-img-text {
  font-family: ProximaNova-Bold;
  font-size: 24px;
  color: #ffffff;
}

.showAll {
  bottom: 0;

  background-color: #035c81;
  height: 40px;

  margin: auto;
  padding: 10px;
}

.showAll a {
  display: block;
  height: 100%;
  width: 100%;

  font-family: ProximaNova-Bold;
  font-size 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.img-title {
  font-family: ProximaNova-Bold;
  font-size: 24px;
  color: #ffffff;
}
