.container {
  margin-top: 0px;
}

.header {
  background-image: url('../images/assets/herader-bg.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  width: 100%;
  min-height: 100vh;
  /*padding: 20px;*/
}

.header-img {
  margin: auto;
}

.post-content
{
  margin: 10px 0px 0 0;
}

@media (max-width: 1450px) {
  .header-img {
    max-width: 18%;
  }
}

.header-links {
  margin-top: 90px;
}

.header-link-title,
.header-link-title a {
  color: white;
  font-family: ProximaNova-Bold;
  line-height: 35px;
  text-decoration: none;

  padding-top: 10px;
  padding-bottom: 4px;
}

.header-link-title a
{
  font-size: 1.875em;
}

.header-link-description,
.header-link-description a {
  font-family: ProximaNova-Semibold;
  font-size: 1em;
  line-height: 26px;
  color: #c7c7c7;
  text-transform: uppercase;
}

.header-link-description span a:hover {
  color: #fff;
  text-decoration: none;
}

.header-icon {
  margin: auto;
  /*max-width: 60%;*/
  max-width: 100%;
}

.news {
  min-height: 100vh;
  padding-top: 20px;
}

.news > .row > div {
  height: 100%;
}

.news-main-title {
  font-family: ProximaNova-Bold;
  font-size: 30px;
  color: #005c81;
  margin-top: 35px;
}

.featured-img-link {
  display: block;
}

.featured-img-link:hover .featured-img,
.featured-img-link:hover .featured-img-text {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.featured-img-text {
  font-family: ProximaNova-Bold;
  font-size: 1.5em;
  color: #ffffff;
}

.showAll {
  bottom: 0;

  background-color: #035c81;
  height: 40px;

  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
}

.showAll a {
  display: block;
  height: 100%;
  width: 100%;

  font-family: ProximaNova-Bold;
  font-size:1em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.img-title {
  font-family: ProximaNova-Bold;
  font-size: 24px;
  color: #ffffff;
}

.text-center .icon-menu
{
  display: block;
  width: 42.30%;
  margin: auto;
}

@media screen and (max-width: 1280px){

  .header-links
  {
    margin-top: 70px;
  }

  .header-icon
  {
    width: 90%;
  }

  .top-links
  {
    margin-bottom: 40px;
  }

  .header-link-title a
  {
    font-size: 1.7em;
  }
}

@media (max-width: 1200px){
  .underfooter
  {
    font-size: 0.875em;
  }
}

@media (max-width: 1050px){
  .header-link-description,
  .header-link-description a {
    font-size: 0.875em;
  }

  .header-link-title a
  {
    font-size: 1.5em;
  }
  .header-img
  {
    max-width: 24%;
  }

  .box-search
  {
    padding:0;
  }

  .top-links
  {
    font-size: 0.875em;
  }
  .post-title a
  {
    font-size: 0.875em;
  }
  input.search
  {
    font-size: 0.875em;
  }
}

@media (max-width: 990px){
  .header-link-description,
  .header-link-description a {
    font-size: 0.875em;
  }

  .header-link-title a
  {
    font-size: 1.5em;
  }
  .header-img
  {
    max-width: 30%;
  }

  .box-search
  {
    padding:0;
  }

  .top-links
  {
    font-size: 0.8em;
  }
  .post-title a
  {
    font-size: 0.8em;
  }
  input.search
  {
    font-size: 0.875em;
  }


  .login
  {
    padding-right: 0;
  }
}
@media (max-width: 768px){
  header 
  {
    min-height: 100%;
  }
}

