.uppercase { text-transform: uppercase; }

.bg-panel-lateral {
  height: 100vh;
  margin: 0px -15px;
  padding: 26px 0px 0px 0px;
  background-color: #2b3d4f;
  color: #a6acb4;
}

.bg-panel-lateral h1 {
  font-size: 23px;
  margin: 0px 10px;
  text-align: center;
}

.bg-panel-lateral h5 {
  margin-left: 0px;
  font-weight: bold;
  color: #bbbec2;
}

.top-bar {
  height: 79px;
  padding: 30px 10px 0px 25px;
  margin: 0px;
  color: #fff;
  background-color: #29809f;
}
.top-bar a {
  color: #fff;
  text-decoration: none;
}
.top-bar a:hover span { text-decoration: underline; }

.top-bar .avatar {
  width: 44px;
  height: 44px;
}

.top-bar span { margin-top: -10px; }

.search {
  width: 200px;
  margin: -7px 10px 5px 10px;
}

.panel-title {
  font-family: ProximaNova-Light;
  font-size: 36px;
  color: #005c81;
}

.bg-panel h3 {
  font-family: ProximaNova-Bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #005c81;
}

.bg-panel {
  height: 100vh;
  margin: 0px -15px;
  background-color: #eceff2;
  color: #888889;
}

.contracts-type {
  color: #fff;
  background-color: #2c4c60;
  border-left: 3px solid #2a82a1;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
}

.contracts-type img {
  width: 20px;
  height: 20px;
}

.contracts { padding: 0px 30px; }

.contracts-data {
  border: 2px solid #ddd;
  color: #005c81;
}
.contracts-data thead tr {
  background-color: #e5e5e5;
}

.contracts-data tbody tr td {
  padding: 20px 15px;
}

.contracts-data h4 {
  font-size: 16px;
  font-weight: bold;
  color: #005c81;
}

input[type="radio"] { display: none; }
input[type="radio"] +img + img { display: none; }
input[type="radio"]:checked + img { display: none; }
input[type="radio"] + img, input[type="radio"]:checked + img + img
{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: -2px;
}

.contracts button {
  color: #fff;
  background-color: #005c81;
  border: none;
  font-size: 18px;
  font-weight: bold;
  width: 216px;
  height: 50px;
}

.footer-panel {
  padding: 0px 30px;
  color: #005c81;
}
