@font-face {
  font-family: ProximaNova-Bold;
  src: url('../fonts/ProximaNova-Bold.otf') format("opentype");
}

@font-face {
  font-family: ProximaNova-Light;
  src: url('../fonts/ProximaNova-Light.otf') format("opentype");
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url('../fonts/ProximaNova-Regular.otf') format("opentype");
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url('../fonts/ProximaNova-Semibold.otf') format("opentype");
}

* {
  transition: all 1s ease;
}

body {
  background-color: #ffffff;
}

.container {
  margin-top: 2px;
}

.top-links {
  margin-bottom: 30px;

  color: white;
}

.top-links a, .top-links input {
  font-family: ProximaNova-Regular;
  font-size: 16px;
  color: #ffffff;
}

.top-link {
  padding-top: 4px;
  padding-bottom: 4px;
}

.search {
  border-radius: 2em;
  border: 1px solid #fff;
  padding: 4px 7px;
}

.search {
  border-radius: 2em;
  border: 1px solid #fff;
  padding: 4px 7px;
}

.searchinput {
  background-color: transparent;
  border: none;
  width: 130px;
  outline: none;
}

.search img, .top-link img {
 vertical-align: text-top;
}

.searchinput::-webkit-input-placeholder { color: #fff; }
.searchinput:-moz-placeholder { color: #fff; opacity: 1; } /* Firefox 18- */
.searchinput::-moz-placeholder { color: #fff; opacity: 1; } /* Firefox 19+ */
.searchinput:-ms-input-placeholder { color: #fff; }

.calendar {
 vertical-align: baseline;
}

.header {
  background-image: url('../images/assets/herader-bg.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  width: 100%;
  min-height: 100vh;

  padding: 20px;
}

.header-img {
  margin: auto;
  max-width: 25%;
}

.header-links {
  margin-top: 90px;
}

.header-link-title {
  color: white;
  font-family: ProximaNova-Bold;
  font-size: 30px;
  line-height: 35px;

  padding-top: 10px;
  padding-bottom: 4px;
}

.header-link-description {
  font-family: ProximaNova-Semibold;
  font-size: 16px;
  line-height: 26px;
  color: #c7c7c7;
  text-transform: uppercase;
}

.header-icon {
  margin: auto;
  max-width: 60%;
}

.news {
  min-height: 100vh;

  padding-top: 20px;
}

.news > .row > div {
  height: 100%;
}

.news-main-title {
  font-family: ProximaNova-Bold;
  font-size: 30px;
  color: #005c81;
  margin-top: 35px;
}

.post-title a {
  font-family: ProximaNova-Regular;
  font-size: 24px;
  color: #005c81;
}

.post-date {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  color: #f84339;
}

.post-content {
  font-family: ProximaNova-Light;
  font-size 16px;
  color: #565555;
}

.showAll {
  bottom: 0;

  background-color: #035c81;
  height: 40px;

  margin: auto;
  padding: 10px;
}

.showAll a {
  display: block;
  height: 100%;
  width: 100%;

  font-family: ProximaNova-Bold;
  font-size 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.img-title {
  font-family: ProximaNova-Bold;
  font-size: 24px;
  color: #ffffff;
}

.line {
  border-color: #c2c2c2;
}

.footer {
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-title {
  font-family: ProximaNova-Bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #005c81;
}

.footer-element {
  font-family: ProximaNova-Regular;
  font-size: 18px;
  color: #565555;
}

.bottom {
  background-color: #035c81;

  padding-top: 45px;
  padding-bottom: 45px;

  color: white;
}

.underfooter {
  font-size: 16px;
  font-family: ProximaNova-Light;
}
