body {

}

.container {
  margin-top: 10px;
}

* {
  transition: all 3s ease;
}

.header {
  background-image: url('../images/assets/herader-bg.jpg');
  background-size: 100%;

  width: 100%;
  height: 100vh;

  padding: 20px;
}

.header-img {
  margin: auto;
  max-width: 25%;
}

.header-links {
  margin-top: 90px;
}

.header-link-title {
  color: white;

  padding-top: 10px;
  padding-bottom: 4px;
}

.header-link-description {
  color: #c6c6c7;
  text-transform: uppercase;
}

.header-icon {
  margin: auto;
  max-width: 60%;
}

.news {
  min-height: 100vh;

  padding-top: 20px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 40px;
}

.bottom {
  background-color: #035c81;

  padding-top: 30px;
  padding-bottom: 30px;

  color: white;
}
