@font-face {
  font-family: ProximaNova-Bold;
  src: url('../fonts/ProximaNova-Bold.otf') format("opentype");
}

@font-face {
  font-family: ProximaNova-Light;
  src: url('../fonts/ProximaNova-Light.otf') format("opentype");
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url('../fonts/ProximaNova-Regular.otf') format("opentype");
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url('../fonts/ProximaNova-Semibold.otf') format("opentype");
}

* {
  transition: all 1s ease;
}

body {
  background-color: #ffffff;
}

.top-links {
  margin-bottom: 30px;

  color: white;
}

.top-links a, .top-links input {
  font-family: ProximaNova-Regular;
  font-size: 16px;
  color: #ffffff;
}

.top-link {
  padding-top: 4px;
  padding-bottom: 4px;
}

.login {
  padding: 6px;
  padding-right: 18px;
}

.search {
  border-radius: 2em;
  border: 1px solid #fff;
  padding: 6px 4px 6px 10px;

  height: 40px;
  max-width: 210px;
}

.searchinput {
  background-color: transparent;
  border: none;
  width: 130px;
  outline: none;
}

.search img, .top-link img {
  vertical-align: text-top;
}

.searchinput::-webkit-input-placeholder { color: #fff; }
.searchinput:-moz-placeholder { color: #fff; opacity: 1; } /* Firefox 18- */
.searchinput::-moz-placeholder { color: #fff; opacity: 1; } /* Firefox 19+ */
.searchinput:-ms-input-placeholder { color: #fff; }

.footer {
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-title {
  font-family: ProximaNova-Bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #005c81;
}

.footer-element {
  font-family: ProximaNova-Regular;
  font-size: 18px;
  color: #565555;
}

.bottom {
  background-color: #035c81;

  padding-top: 45px;
  padding-bottom: 45px;

  color: white;
}

.underfooter {
  font-size: 16px;
  font-family: ProximaNova-Light;
}
