<?php

$db_username  = "root"; // nome utente root, necessario per creare utente "portale"
$db_password  = "";     // password dell'utente root

$mysql        = "/usr/bin/mysql"; // path di mysql

/* non modificare queste variabili! */
$protocol = isset($_SERVER['HTTPS']) ? "https://" : "http://";
$domain = $protocol . $_SERVER['HTTP_HOST'];
/* non modificare queste variabili! */

$new_path     = $domain . "/WP-Angular-Bootstrap/"; // path di installazione del portale

?>