#!/bin/bash

# utente root
user="root"

# password utente root
password="root"

# indirizzo host
host="localhost"

# path di mysqldump, esempio: /path/to/mysqldump
mysqldump="mysqldump"

$mysqldump --user=$user --password=$password --host=$host portale > wordpress.sql
