#!/bin/bash

# utente portale
user="portale"

# password utente portale
password="fragole"

# indirizzo host
host="localhost"

# indirizzo istanza wordpress
url="http://localhost/WP-Angular-Bootstrap/wordpress/"
home="http://localhost/WP-Angular-Bootstrap/wordpress/"

# path di mysql, esempio: /path/to/mysql
mysql="mysql"

# database
database="portale"

# importa dump
$mysql --user=$user --password=$password  $database < wordpress.sql

# configura url wordpress
$mysql --user=$user --password=$password  $database --execute="UPDATE wp_options SET option_value = '$url' where option_name='siteurl';"

# configura home wordpress
$mysql --user=$user --password=$password  $database --execute="UPDATE wp_options SET option_value = '$home' where option_name='home';"
