<!DOCTYPE html>
<html lang="it" ng-app="portale">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portale</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="js/main.js"></script>

  </head>
  <body ng-controller="Controller">
    <div class="container">

      <nav class="navbar navbar-default" ng-controller="MenuController as menu">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portale</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  ng-class="{'in':!navCollapsed}">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li ng-repeat="category in categories"><a href="#">{{ category.name }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-repeat="page in pages"><a href="#">{{ page.title }}</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <br>
      <h4>Clicca nel titolo dell'articolo per caricare il contenuto</h4>
      <br><br>
      <p>Contenuto:</p>
      <div ng-view ng-bind-html="param"></div>
      <br><br>
      <div ng-repeat="post in posts">
        <p class="lead"><a href="#/{{ post.ID }}">{{ post.title }}</a></p>
        <div ng-bind-html="post.content">{{ post.content }}</div>
        <br>
        <br>
      </div>
    </div>
  </body>
</html>
